<!--Views/Templates/default is the view copied when using tofu to generate controllers!-->
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <p>This view was created with the Handlebars engine.</p>
        <p>{{msg}}</p>
    </body>
    '<script src="{{process.env.BROWSER_REFRESH_URL}}"></script>'
</html>