<!--Views/Templates/default is the view copied when using tofu to generate controllers!-->
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="CSS/bundle.css">
        <script src="JS/bundle.js"></script>
    </head>
    <body>
        <p>This view was created with the Handlebars engine.</p>
        <p>{{msg}}</p>
    </body>
</html>