<!--Views/Templates/default is the view copied when using tofu to generate controllers!-->
html
    head
        title #{title}
    body
        p This view was created with the Pug engine.
        p #{body}
    script(src="#{process.env.BROWSER_REFRESH_URL}")