<!--Views/Templates/default is the view copied when using tofu to generate controllers!-->
html
    head
        title #{title}
        script(src="JS/bundle.js")
        link(rel="stylesheet" href="CSS/bundle.css")
    body
        p This view was created with the Pug engine.
        p #{msg}