name: Node.js

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 15.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, test make & run startup
      run: |
        npm install
        npm link
        tofu create dev hbs
        cd dev
        tofu make beer --api
        tofu make beer
        tofu make x middleware
        tofu make Test event
        tofu make Y timer
        timeout 60s npm start
      env:
        CI: true
